*{
    box-sizing: border-box;
}

body{
    margin: 0;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.debug{
    background-color: red;
    border: 2px solid #fff;
    height: 100vh;
}

@for $i from 1 through 12 {
    .col-md-#{$i} {
        width: 100% / 12 * $i;
    }
}